/*Main page style rules*/
.main-page {
   background: sienna;
}

.title {
   color: white;
   text-align: center;
}

.source-title {
   color: white;
}

a:link {
   color: black;
}

a:visited {
   color:white;
}

/*pound cake page style rules*/
.pound-page{
   background: SandyBrown;
}

.pound-title {
   color: LightYellow;
   text-align center;
}

.pound-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   height: auto;
}

.pound-txt {
   color: LightYellow;
}
