/*Main page style rules*/
.main-page {
   background: sienna;
}

.title {
   color: white;
   text-align: center;
}

.source-title {
   color: white;
}

a:link {
   color: black;
}

a:visited {
   color:white;
}

/*pound cake page style rules*/
.pound-page{
   background: Peru;
}

.pound-title {
   text-align: center;
}

.pound-img {
   display: block;
   border-radius: 50%;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   height: 50%o;
}

.pound-title,
.pound-txt {
   color: Gold;
}

/*french chocolate cake page style rules*/
.french-title {
   text-align: center;
}

.french-title,
.french-text {
   color: Brown;
}

.french-img {
   display: block;
   height: auto;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}


/*Tres Leches Cake style rules*/
.tres-title {
   text-align: center;
}

.tres-img {
   display: block;
   height: 20%;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

.tres-title,
.tres-text {
   color: red;
}
