/*Main page style rules*/
.main-page {
   background: sienna;
}

.title {
   color: white;
   text-align: center;
}

.source-title {
   color: white;
}

a:link {
   color: black;
}

a:visited {
   color:white;
}

/*pound cake page style rules*/
.pound-page{
   background: Peru;
}

.pound-title {
   color: LemonChiffon;
   text-align: center;
}

.pound-img {
   display: block;
   border-radius: 50%;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   height: 50%o;
}

.pound-txt {
   color: LemonChiffon;
}

